#macro(options $value $choices)
    #foreach($key in $choices.keySet())
        #set($choice = $choices.get($key))
        #if ($value == $key) 
            #set($selected = 'selected="selected"')
        #else
            #set($selected = "") 
        #end
<option $selected value="$key">$choice</option>
    #end
#end

#macro(checkbox $name $value)
    #if ($value == true)
        #set($checked = 'checked="checked"')
    #else
        #set($checked = '')
    #end
<input type="checkbox" name="$name" value="true" $checked />
#end